.ToDo-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ToDo-input {
    width: 70%;
    padding: 8px 5px;
    font-size: 20px;
    color: #676565;
    border: 1px solid #000;
    border-radius: 3px;
}

.ToDo-btn {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 3px;
}

.ToDo-btn:hover {
    background-color: #3c3a3a;
}