.ToDo {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(204, 204, 204, 1);
    -moz-box-shadow: 2px 2px 3px 1px rgba(204, 204, 204, 1);
    box-shadow: 2px 2px 3px 1px rgba(204, 204, 204, 1);
    border-radius: 3px;

    &-list {
        padding: 0;
    }
}

.navigation {
    background: grey;
    padding: 10px;
}