.ToDo-item {
    position: relative;
    width: 100%;
    padding: 12px 0;
    list-style: none;
    font-size: 18px;
    color: #676565;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.ToDo-item.done {
    text-decoration: line-through;
}

.ToDo-item:hover .ToDo-delete-item {
    display: inline-block;
}

.ToDo-delete-item {
    display: none;
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
}

.ToDo-delete-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 25px;
    background-color: red;
    transform: rotate(45deg) translateX(-50%);
    transform-origin: 50% 50%;
}

.ToDo-delete-item:after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 3px;
    height: 25px;
    background-color: red;
    transform: rotate(-45deg) translateX(50%);
    transform-origin: 50% 50%;
}